@page
@model signaletest.Pages.IndexModel

<html>
<head>
</head>
<body>
    <button id="btn">click</button>

    <div id="app">
        <table style="width: 100%;">
            <tr>
                <td>
                    <section style="width: 400px;">
                        <h1>{{title}}</h1>
                        <div v-for="item in feed">
                            <strong>{{item.title}}</strong>
                            <div>Article {{item.articleId}}</div>
                            <div>Language {{item.languageId}}</div>
                            <p>
                                {{item.description}} <i>{{item.date}}</i>
                            </p>

                            <figure>
                                <img v-bind:src="item.image" />
                                <article>
                                    <h4>image</h4>
                                </article>
                            </figure>

                            <hr />
                        </div>
                    </section>
                </td>
                <td>
                    <section style="width: 400px;">
                        <div v-for="item in filtered">
                            <figure>
                                <img v-bind:src="item.image" />
                                <article>
                                    <strong>{{item.title}}</strong>
                                </article>
                            </figure>
                            <hr />
                        </div>
                    </section>
                </td>
            </tr>
        </table>


    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/signalr-client-1.0.0-alpha2-final.js"></script>
    <script src="~/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script type="text/javascript">
        $(function () {
            var app = new Vue({
                el: '#app',
                data: {
                    title: 'Hello Live Updates!',
                    notifications: []
                },
                computed: {
                    filtered: function () {
                        return this.notifications.filter(function (el) {
                            return el.image.length > 0;
                        });
                    },
                    feed() {
                        return this.notifications.slice().reverse();
                    }
                }
            });

            var transport = signalR.TransportType.WebSockets;
            var connection = new signalR.HubConnection(`http://${document.location.host}/news?articleId=1&languageId=1`, { transport: transport });

            connection.on('notify',
                (message) => {
                    var mom = moment(message.timestamp).calendar();
                    message.date = mom;
                    app.notifications.push(message);
                });

            $("#btn").click(function () {


                connection.invoke('notify');

            });

            function determineStop() {
                if (Math.random() > .4) {
                    connection.stop();
                }
            }

            connection.start().then(() => connection.invoke('notify')).then(() => determineStop());


        });
    </script>
</body>
</html>